.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  z-index: 10;
}

.left-container,
.right-container {
  display: flex;
  align-items: center;
}

.right-container {
  justify-content: flex-end;
  width: 100%;
}

.cart-button {
  margin-right: 10px;
}

.navbar-container.transparent {
  background-color: transparent;
}

.navbar-container.dark {
  background-color: dark;
}
