.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 55px;
  bottom: 0;
  left: -100%;
  width: 100vw;
  overflow: hidden;
  transition: left 0.5s;
  background-color: #767980;
}

.sidebar.open {
  left: 0;
}

.sidebar-button-wrapper {
  padding-left: 10px;
}

.sidebar-button {
  background-color: orange;
  color: white;
  border-color: orange;
}

.nav-link {
  color: white !important;
}

.scroll-instruction {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
