.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 55px;
  bottom: 0;
  left: -150%;
  width: 100%;
  overflow: hidden;
  transition: left 0.7s;
  background-color: #767980;
}

@media screen and (min-width: 1200px) {
  /* Desktop */
  .sidebar {
    width: 25%;
  }
  .sidebar.open {
    left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* Tablet */
  .sidebar {
    width: 50%;
  }

  .sidebar.open {
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  /* Mobile */
  .sidebar {
    width: 100%;
  }

  .sidebar.open {
    left: 0;
  }
}

.sidebar.open {
  left: 0;
}

.sidebar-button-wrapper {
  padding-left: 10px;
}

.sidebar-button {
  background-color: orange;
  color: white;
  border-color: orange;
}

.nav-link {
  color: white !important;
}

.scroll-instruction {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
